@media screen and (min-width: $mobile) {
  .footer {
    padding-bottom: 41px;
    .wrapper {
      display: flex;
      flex-direction: column-reverse;
    }
    .rights-container {
      .description {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: $accentBlue;
      }
    }
    .logo-container {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      .icon {
        width: 138px;
        height: 41px;
      }
    }
    .social-links-list {
      display: none;
    }
  }
}

@media screen and(min-width: $tablet) {
  .footer {
    padding-bottom: 40px;
    .wrapper {
      flex-direction: column-reverse;
    }
    .logo-container {
      .icon {
        width: 200px;
        height: 47px;
      }
      margin-bottom: 20px;
    }
  }
}

@media screen and(min-width: $desktop) {
  .footer {
    padding-top: 100px;
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .rights-container {
      width: 400px;
      .description {
        font-size: 20px;
      }
    }
    .social-links-list {
      display: flex;
      top: 21px;
      right: 250px;
      li {
        width: 35px;
        height: 35px;
        margin-bottom: 0;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
        .icon {
          width: 35px;
          height: 35px;
          fill: $accentYellow;
        }
      }
    }
  }
}

@media screen and(min-width: $fullHD) {
  .footer {
    padding-top: 100px;
    padding-bottom: 60px;
    .logo-container {
      .icon {
        width: 338px;
        height: 80px;
      }
    }
    .rights-container {
      width: 530px;
      .description {
        font-size: 24px;
        line-height: 150%;
      }
    }
    .social-links-list {
      li {
        margin-right: 80px;
        .icon {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
