@media screen and (min-width: $mobile) {
  .hero-section {
    position: relative;
    background-image: url('../img/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: 1566px 880px;
    background-position: 60% top;
    z-index: -3;
    .wrapper {
      position: relative;
      padding-top: 50px;
      .link-email {
        position: absolute;
        right: 15px;
        top: 10px;
        text-decoration: none;
        z-index: 2;
        p {
          font-family: 'Helvetica';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;
          color: $accentBlue;
        }
        &:hover p {
          color: $accentYellow;
        }
      }
      .link-phone {
        display: none;
      }
      .hero-title {
        font-family: 'Philosopher';
        font-size: 48px;
        line-height: 100%;
        color: $accentBlue;
        margin-bottom: 20px;
        span {
          display: none;
        }
      }
      .text-container {
        width: 271px;
        margin-bottom: 60px;
        .hero-description {
          font-family: 'Helvetica';
          font-weight: 400;
          font-size: 18px;
          line-height: 120%;
          color: $accentBlue;
        }
      }
      .btn-container {
        margin-bottom: 67px;
        .hero-btn-1 {
          @include standartBtn($accentBlue);
          margin-bottom: 40px;
        }
        .hero-btn-2 {
          @include standartBtn($accentYellow);
        }
      }
      .skills-container {
        position: relative;
        width: 228px;
        &::after {
          content: '';
          position: absolute;
          inset: 0;
          z-index: -1;
          background-color: $accentYellowShape;
          mix-blend-mode: multiply;
        }
        .discount {
          position: absolute;
          right: -75px;
          top: 0;
          font-family: 'Philosopher';
          font-weight: 700;
          font-size: 48px;
          line-height: 120%;
          color: #ffffff;
        }
        .skills-list {
          padding: 20px;
          padding-right: 10px;
          li {
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0;
            }
            p {
              font-family: 'Helvetica';
              font-weight: 400;
              font-size: 24px;
              line-height: 33px;
              color: #ffffff;
            }
          }
        }
      }
      .social-links-list {
        position: absolute;
        bottom: 31px;
        right: 25px;
        li {
          display: block;

          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
          .icon {
            width: 35px;
            height: 35px;
            fill: $accentBlue;
          }
          a:hover .icon {
            fill: $accentYellow;
          }
        }
      }
    }
    .radial-gradient-shape {
      position: absolute;
      width: 535px;
      height: 771px;
      right: 41px;
      top: -179px;
      background: radial-gradient(
        50% 50% at 50% 50%,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: -2;
    }
  }
}

@media screen and(min-width: $tablet) {
  .hero-section {
    .wrapper {
      padding-top: 40px;
      .hero-title {
        width: 600px;
        display: block;
        margin-bottom: 40px;
      }
      .text-container {
        width: 420px;
        margin-right: 0;
      }
      .hero-description {
        width: 420px;
        display: block;
        font-family: 'Helvetica';
        font-size: 24px;
        line-height: 150%;
        color: $accentBlue;
      }

      .flex-wrap-container {
        display: flex;
      }
      .btn-container {
        width: 440px;
        margin-bottom: 67px;
        display: block;
        .hero-btn-1 {
          @include standartBtn($accentBlue);
          margin-bottom: 40px;
        }
        .hero-btn-2 {
          @include standartBtn($accentYellow);
        }
      }
      .hero-btn-1 {
        margin-bottom: 30px;
      }
      .skills-container {
        .discount {
          right: -20px;
          top: -30px;
          font-weight: 400;
          font-size: 60px;
          color: white;
        }
        .skills-list {
          li {
            margin-bottom: 25px;
            padding-left: 20px;
            &:last-child {
              padding-bottom: 35px;
            }
            &:first-child {
              padding-top: 40px;
            }
            p {
              font-size: 22px;
            }
          }
        }
      }
      .social-links-list {
        right: 15px;
      }
    }
    .radial-gradient-shape {
      right: 310px;
      top: -200px;
    }
  }
}

@media screen and(min-width: $desktop) {
  .hero-section {
    background-size: cover;
    background-position: center;
    .wrapper {
      padding-top: 70px;
      .link-email {
        top: 20px;
        right: 0;
        p {
          font-size: 24px;
        }
      }
      .link-phone {
        position: absolute;
        right: 0;
        top: 56px;
        display: flex;
        align-items: center;
        text-decoration: none;
        svg {
          width: 20px;
          height: 20px;
          margin-right: 15px;
          fill: $accentBlue;
        }
        p {
          font-family: 'Helvetica';
          font-size: 24px;
          line-height: 140%;
          color: $accentBlue;
        }
        &:hover p {
          color: $accentYellow;
        }
        &:hover svg {
          fill: $accentYellow;
        }
      }
      .hero-title {
        width: 740px;
        font-size: 58px;
        span {
          display: inline;
        }
      }
      .text-container {
        .hero-description {
          font-size: 24px;
        }
      }
      .content-container {
        width: 700px;
        .text-container {
          width: 600px;
          margin-bottom: 0;
          .hero-description {
            display: inline;
          }
        }
      }
      .btn-container {
        width: inherit;
        margin-top: 90px;
        margin-bottom: 0;
        .hero-btn-1 {
          margin-right: 30px;
          margin-bottom: 0;
        }
      }
      .skills-container {
        margin-left: 50px;
        width: 350px;
        .discount {
          right: -15px;
          top: -55px;
          font-size: 70px;
        }
        .skills-list {
          li {
            padding-left: 50px;
            // margin-bottom: 20px;
            &:last-child {
              padding-bottom: 75px;
            }
            p {
              font-size: 24px;
            }
          }
        }
      }
      .social-links-list {
        display: flex;
        top: 21px;
        right: 250px;
        li {
          width: 35px;
          height: 35px;
          margin-bottom: 0;
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .radial-gradient-shape {
      width: 1000px;
      height: 800px;
    }
  }
}

@media screen and (min-width: $fullHD) {
  .hero-section {
    padding-top: 40px;
    height: 1012px;
    .wrapper {
      padding-top: 0;
      .link-email {
        top: 0;
        right: 21px;
      }
      .link-phone {
        right: 21px;
        top: 45px;
      }
      .hero-title {
        width: 1074px;
        font-size: 96px;
        line-height: 108px;
        padding-top: 60px;
        margin-bottom: 26px;
      }
      .content-container {
        width: 860px;
        padding-top: 34px;
        .text-container {
          width: 775px;
          margin-bottom: 0;
          .hero-description {
            font-size: 32px;
            line-height: 140%;
          }
        }
      }
      .btn-container {
        margin-top: 143px;
        margin-bottom: 0;
        .hero-btn-1 {
          @include fullHDBtn(441px, $accentBlue);
          margin-right: 60px;
        }
        .hero-btn-2 {
          @include fullHDBtn(355px, $accentYellow);
        }
      }
      .skills-container {
        margin-left: 176px;
        width: 560px;
        .discount {
          font-size: 180px;
          line-height: 120%;
          font-weight: 300;
          left: 225px;
          top: -128px;
        }
        .skills-list {
          padding: 72px 0 197px 93px;
          li {
            padding-left: 0;
            margin-bottom: 20px;
            p {
              font-size: 36px;
              line-height: 50px;
            }
            &:first-child {
              padding-top: 0;
            }
            &:last-child {
              padding: 0;
            }
          }
        }
      }
      .social-links-list {
        top: 11px;
        right: 290px;
        li {
          margin-right: 50px;
          .icon {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
    .radial-gradient-shape {
      width: 1141px;
      height: 902px;
      top: -222px;
      left: -223px;
      background: rgba(255, 255, 255, 0.781);
      filter: blur(400px);
      background-position: 10% bottom;
    }
  }
}
