@media screen and (min-width: $mobile) {
  .section-3 {
    position: relative;
    padding-bottom: 80px;
    padding-top: 80px;
    .title {
      width: 245px;
      font-family: 'Philosopher';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 27px;
      color: $accentYellow;
      margin-bottom: 52px;
    }
    .advantage-list {
      margin-bottom: 60px;
      &__item {
        display: flex;
        margin-bottom: 52px;
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
      &__number-container {
        width: 80px;
        height: 72px;
        background-image: url('../svg/number-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
        margin-bottom: 3px;
        p {
          width: 80px;
          font-family: 'Helvetica';
          font-style: normal;
          font-weight: 400;
          font-size: 52px;
          line-height: 1;
          padding-left: 21px;
          color: transparent;
          -webkit-text-stroke: 1px #fff;
        }
      }
      &__description-container {
        p {
          font-family: 'Helvetica';
          font-size: 16px;
          line-height: 150%;
          color: $accentBlue;
        }
      }
    }
  }
}

@media screen and(min-width: $tablet) {
  .section-3 {
    padding-top: 120px;
    .title {
      width: 100%;
      font-size: 38px;
      margin-bottom: 70px;
    }
    .advantage-list {
      display: flex;
      flex-wrap: wrap;
      &__item {
        width: 343px;
        &:nth-child(odd) {
          margin-right: 52px;
        }
        &:nth-child(3) {
          margin-bottom: 0;
        }
      }
      &__number-container {
        margin-right: 25px;
      }
    }
  }
}

@media screen and(min-width: $desktop) {
  .section-3 {
    padding-bottom: 100px;
    .title {
      font-size: 48px;
      line-height: 1;
    }
    .advantage-list {
      margin-bottom: 70px;
      &__item {
        width: 520px;
        &:nth-child(-n + 2) {
          margin-bottom: 70px;
        }
        &:nth-child(odd) {
          margin-right: 60px;
        }
      }
      &__number-container {
        width: 140px;
        height: 126px;
        background-size: cover;
        background-position: center;
        margin-right: 25px;
        p {
          width: 140px;
          font-size: 96px;
          padding-left: 40px;
        }
      }
      &__description-container {
        p {
          font-size: 24px;
        }
      }
    }
  }
}

@media screen and(min-width: $fullHD) {
  .section-3 {
    padding-top: 180px;
    padding-bottom: 180px;
    .title {
      font-size: 64px;
      line-height: 72px;
      text-align: left;
      padding-left: 151px;
      margin-bottom: 80px;
    }
    .advantage-list {
      width: 1450px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 120px;
      &__item {
        width: 700px;
        &:nth-child(odd) {
          margin-right: 50px;
        }
      }
      &__number-container {
        width: 187px;
        height: 195px;
        background-size: contain;
        margin-right: 40px;
        p {
          width: 187px;
          line-height: 170%;
          padding-left: 60px;
          -webkit-text-stroke: 2.6px #fff;
        }
      }
      &__description-container {
        width: 414px;
        p {
          width: inherit;
          padding-top: 10px;
        }
      }
    }
  }
}
