@media screen and (min-width: $mobile) {
  .section-8 {
    padding-bottom: 60px;
    .title {
      width: 100%;
      display: block;
      font-family: 'Philosopher';
      font-size: 24px;
      line-height: 27px;
      color: $accentYellow;
      margin-bottom: 20px;
      span {
        display: block;
      }
    }
    .main-content-container {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      .form {
        padding: 40px 20px 50px 20px;
        background-color: $accentBlueShape;
        label {
          display: block;
          font-family: 'Helvetica';
          font-size: 16px;
          line-height: 1.375;
          color: white;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 40px;
          }
          input,
          textarea {
            width: 100%;
            display: block;
            height: 60px;
            border: none;
            padding-left: 13px;
            margin-top: 10px;
            &::placeholder {
              font-family: 'Helvetica-light';
              font-weight: 300;
              font-size: 16px;
              line-height: 1.375;
              color: rgba(57, 68, 145, 0.54);
            }
          }
          textarea {
            min-width: 100%;
            height: auto;
            padding-top: 13px;
          }
        }
        button {
          @include standartBtn($accentYellow);
          width: 290px;
        }
      }
      .calendly-flex-container {
        margin-top: 25px;
        .title {
          width: 100%;
          display: block;
          font-family: 'Philosopher';
          font-size: 24px;
          line-height: 27px;
          color: $accentYellow;
        }
        .calendly-inline-widget {
          min-height: 1200px;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .section-8 {
    padding-bottom: 90px;
    .title {
      font-size: 38px;
      text-align: center;
      margin-bottom: 30px;
      span {
        padding-top: 10px;
      }
    }
    .main-content-container {
      flex-direction: row-reverse;
      .form {
        display: block;
        width: 355px;
        height: 1050px;
        justify-content: space-between;
        margin-right: 33px;
        button {
          width: 315px;
        }
      }
      .calendly-flex-container {
        width: 400px;
        margin-top: 0;
        .title {
          display: none;
        }
        .calendly-inline-widget {
          width: 100%;
          max-height: 1000px;
          margin-right: 30px;
          overflow: hidden;
        }
      }
    }
  }
}

@media screen and(min-width: $desktop) {
  .section-8 {
    padding-bottom: 0;
    .title {
      width: 100%;
      font-size: 48px;
      margin-bottom: 0;
      span {
        padding-top: 30px;
        &:first-child {
          display: inline;
        }
      }
    }
    .main-content-container {
      flex-direction: row-reverse;
      .form {
        margin-top: 70px;
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .label-container {
          label {
            min-width: 100%;
            font-size: 20px;
            margin-right: 30px;
            margin-bottom: 30px;
            &:nth-child(even) {
              margin-right: 0;
            }
            &:nth-child(n + 3) {
              margin-bottom: 50px;
            }
            &:nth-last-child(1) {
              min-width: 100%;
            }
          }
          input {
            min-width: 100%;
            padding-left: 20px;
          }
        }
        .btn {
          width: 300px;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .calendly-flex-container {
        display: block;
        margin-top: 40px;
        padding-right: 50px;
        .title {
          width: 100%;
          padding-right: 0;
          font-size: 36px;
          line-height: 120%;
        }
        .calendly-inline-widget {
          min-width: 100%;
          min-height: 1200px;
          margin-top: 30px;
          margin-right: 0;
          margin-left: 50px;
        }
      }
    }
  }
}

@media screen and(min-width: $fullHD) {
  .section-8 {
    padding-bottom: 200px;
    .title {
      font-size: 64px;
      line-height: 1;
      span {
        padding-top: 20px;
      }
    }
    .main-content-container {
      justify-content: start;
      .form {
        width: 900px;
        padding: 60px 35px 73px 35px;
        .label-container {
          label {
            min-width: 100%;
            font-size: 24px;
            line-height: 1.375;
          }
          input {
            min-width: 100%;
            padding-left: 30px;
            &::placeholder {
              line-height: 1.389;
              font-size: 18px;
            }
          }
        }
        button {
          @include fullHDBtn(312px, $accentYellow);
        }
      }
      .calendly-flex-container {
        margin-top: 0;
        .title {
          min-width: 800px;
          font-size: 48px;
          text-align: start;
          padding-left: 30px;
        }
        .calendly-inline-widget {
          margin-top: 0;
          width: 700px;
          min-height: 1130px;
          margin-right: 30px;
          overflow: hidden;
        }
      }
    }
  }
}
