@media screen and (min-width: $mobile) {
  .section-4 {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 97px;
    background-image: url('../img/section-4-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 28% top;
    .title {
      font-family: 'Philosopher';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      color: #ffffff;
      margin-bottom: 20px;
    }
    .descr-container {
      margin-bottom: 40px;
      p {
        font-family: 'Helvetica';
        font-style: normal;
        font-size: 18px;
        line-height: 140%;
        color: #ffffff;
      }
    }
    .content-flex-container {
      margin-bottom: 60px;
      .candidate-container {
        display: flex;
        margin-bottom: 40px;
        h3 {
          width: 134px;
          font-family: 'Philosopher';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 20px;
          color: #ffffff;
          margin-bottom: 5px;
        }
        li {
          padding-left: 10px;
          margin-bottom: 5px;
        }
        p {
          font-family: 'Helvetica';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.375;
          color: #ffffff;
          &::before {
            content: '\2022';
            color: #ffffff;
            margin-right: 12px;
          }
        }
        &__skills-list,
        &__work-to-be-done-list {
          li:last-child {
            margin-bottom: 0;
          }
        }
        &__skills-container {
          margin-right: 25px;
        }
      }
      .prices-container {
        h3 {
          font-family: 'Philosopher';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 1.111;
          color: #ffffff;
          margin-bottom: 10px;
        }
        .price-list {
          display: flex;
          .price-item {
            margin-right: 42px;
            &__work-shedule {
              font-family: 'Helvetica';
              font-size: 24px;
              line-height: 1.375;
              color: #ffffff;
              margin-bottom: -8px;
              span {
                display: none;
              }
            }
            &__price {
              font-family: 'Philosopher';
              font-weight: 700;
              font-size: 25.26px;
              line-height: 140%;
              text-align: center;
              padding-top: 23px;
              color: #ffffff;
            }
            &__price-container {
              width: 120px;
              height: 60px;
              background-image: url('../svg/price-bg.svg');
              margin-left: 25px;
            }
          }
        }
      }
    }
    .btn {
      @include standartBtn($accentYellow);
    }
    .yellow-shape-container {
      display: none;
    }
  }
}

@media screen and (min-width: $tablet) {
  .section-4 {
    background-position: 28% bottom;
    .title {
      width: 600px;
    }
    .descr-container {
      width: 400px;
    }
    .content-flex-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      .candidate-container {
        margin-left: 50px;
        h3 {
          width: 160px;
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
      .prices-container {
        h3 {
          font-size: 20px;
          margin-bottom: 20px;
        }
        .price-list {
          display: flex;
          flex-direction: column;
          .price-item:first-child {
            margin-bottom: 30px;
          }
        }
      }
    }
    .btn {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and(min-width: $desktop) {
  .section-4 {
    padding-top: 90px;
    .title {
      width: 650px;
      font-size: 54px;
      margin-bottom: 30px;
    }
    .descr-container {
      margin-bottom: 60px;
      p {
        width: 450px;
        font-size: 24px;
      }
    }
    .content-flex-container {
      .candidate-container {
        h3 {
          width: inherit;
          font-size: 28px;
          line-height: 140%;
        }
        p {
          font-size: 24px;
        }
        &__skills-container {
          width: 300px;
        }
      }
      .prices-container {
        width: 300px;
        h3 {
          width: 230px;
          font-size: 28px;
          text-align: center;
        }
        .price-list {
          .price-item {
            width: 300px;
            &__price-container {
              width: 187px;
              height: 96.5px;
              background-size: contain;
              transform: rotateY(150deg);
              background-repeat: no-repeat;
            }
            &__price {
              font-size: 36px;
              padding-top: 38px;
              transform: rotateY(150deg);
            }
            &__work-shedule {
              width: 300px;
              padding-left: 100px;
            }
          }
        }
      }
    }
  }
}

@media screen and(min-width: $fullHD) {
  .section-4 {
    position: relative;
    height: 1000px;
    padding-top: 60px;
    padding-bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: -3;
    .wrapper {
      position: relative;
    }
    .title {
      width: 1016px;
      font-size: 96px;
      line-height: 108px;
      margin-bottom: 40px;
    }
    .descr-container {
      width: 658px;
      margin-bottom: -12px;
      p {
        width: inherit;
        font-size: 32px;
        line-height: 140%;
      }
    }
    .content-flex-container {
      justify-content: end;
      margin-bottom: 0;
      .candidate-container {
        margin-left: 73px;
        margin-bottom: 0;
        h3 {
          font-size: 36px;
          line-height: 40px;
        }
        p {
          font-size: 24px;
          line-height: 33px;
        }
        &__skills-container {
          width: 268px;
          margin-right: 93px;
        }
        li {
          margin-bottom: 15px;
        }
      }
      .prices-container {
        width: 347px;
        h3 {
          width: 294px;
          display: block;
          font-size: 36px;
          line-height: 140%;
          margin-left: auto;
        }
        .price-list {
          .price-item {
            width: 344px;
            &__price-container {
              margin-left: 0;
              margin-right: 0;
            }
            &__work-shedule {
              width: 347px;
              padding-left: 68px;
              margin-bottom: -18px;
              span {
                display: inline;
              }
            }
          }
        }
      }
    }
    .btn {
      position: absolute;
      bottom: 388px;
      @include fullHDBtn(361px, $accentYellow);
    }
    .yellow-shape-container {
      position: absolute;
      width: 365px;
      height: 1000px;
      display: block;
      top: -60px;
      right: 312px;
      &::after {
        content: '';
        position: absolute;
        width: 365px;
        height: 1000px;
        inset: 0;
        z-index: -1;
        background-color: $accentYellowShape;
        mix-blend-mode: darken;
      }
      .discount {
        position: absolute;
        top: 123px;
        left: 146px;
        display: block;
        font-family: 'Philosopher';
        font-style: normal;
        font-weight: 400;
        font-size: 140px;
        line-height: 120%;
        color: transparent;
        -webkit-text-stroke: 2px #fff;
      }
    }
  }
}
