@media screen and (min-width: $mobile) {
  .section-3 {
    position: relative;
    padding-bottom: 80px;
    padding-top: 80px;
    .title {
      width: 245px;
      font-family: 'Philosopher';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 27px;
      color: $accentYellow;
      margin-bottom: 52px;
    }
    .advantage-list {
      margin-bottom: 60px;
      &__item {
        display: flex;
        margin-bottom: 52px;
        flex-wrap: wrap;
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
      &__number-container {
        width: 80px;
        height: 72px;
        background-image: url('../svg/number-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
        margin-bottom: 3px;
        p {
          width: 67px;
          font-family: 'Helvetica';
          font-style: normal;
          font-weight: 400;
          font-size: 52px;
          line-height: 1;
          padding-left: 21px;
          color: transparent;
          -webkit-text-stroke: 1px #fff;
        }
      }
      &__title-container {
        width: 200px;
        display: inline;
        padding-top: 7px;
        margin-bottom: 22px;
        h3 {
          width: 107px;
          font-family: 'Helvetica-bold';
          font-size: 18px;
          line-height: 120%;
          color: $accentBlue;
        }
      }
      &__description-container {
        padding-left: 60px;
        p {
          font-family: 'Helvetica';
          font-size: 16px;
          line-height: 150%;
          color: $accentBlue;
          left: 15px;
        }
      }
    }
    .btn-container {
      .btn {
        @include standartBtn($accentBlue);
      }
    }
  }
}

@media screen and(min-width: $tablet) {
  .section-3 {
    padding-top: 120px;
    .title {
      width: 100%;
      font-size: 38px;
      margin-bottom: 70px;
    }
    .advantage-list {
      display: flex;
      flex-wrap: wrap;
      &__item {
        width: 300px;
        &:nth-child(odd) {
          margin-right: 52px;
        }
        &:nth-child(3) {
          margin-bottom: 0;
          .advantage-list__title-container {
            height: 44px;
          }
          .advantage-list__description-container {
            height: 91px;
            p {
              display: table-cell;
              vertical-align: top;
            }
          }
        }
      }
    }
    .btn-container {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and(min-width: $desktop) {
  .section-3 {
    padding-bottom: 100px;
    .title {
      font-size: 48px;
      line-height: 1;
    }
    .advantage-list {
      margin-bottom: 70px;
      &__item {
        width: 500px;
        &:nth-child(-n + 2) {
          margin-bottom: 70px;
        }
        &:nth-child(3) {
          .advantage-list__description-container {
            margin-top: -105px;
          }
        }
      }
      &__number-container {
        width: 140px;
        height: 126px;
        background-size: contain;
        margin-right: 25px;
        p {
          font-size: 96px;
          padding-left: 40px;
        }
      }
      &__title-container {
        width: 320px;
        margin-bottom: 0;
        h3 {
          width: inherit;
          font-family: 'Philosopher';
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 150%;
          color: #23329a;
        }
      }
      &__description-container {
        padding-left: 165px;
        margin-top: -70px;
        p {
          font-size: 24px;
        }
      }
    }
  }
}

@media screen and(min-width: $fullHD) {
  .section-3 {
    padding-top: 180px;
    padding-bottom: 180px;
    .title {
      font-size: 64px;
      line-height: 72px;
      text-align: right;
      padding-right: 121px;
      margin-bottom: 80px;
      span {
        display: block;
      }
    }
    .advantage-list {
      width: 1427px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 120px;
      &__item {
        width: 641px;
        &:nth-child(odd) {
          margin-right: 145px;
        }
        &:nth-child(-n + 2) {
          margin-bottom: 98.5px;
          .advantage-list__description-container {
            p {
              width: 399px;
            }
          }
        }
        &:last-child {
          .advantage-list__description-container {
            p {
              width: 400px;
            }
          }
        }
      }
      &__number-container {
        width: 187px;
        height: 195px;
        margin-right: 40px;
        p {
          line-height: 170%;
          padding-left: 60px;
          -webkit-text-stroke: 2.6px #fff;
        }
      }
      &__title-container {
        width: 414px;
        h3 {
          width: inherit;
          font-size: 36px;
          line-height: 150%;
        }
      }
      &__description-container {
        width: 414px;
        padding-left: 227px;
        margin-top: -123px;
        p {
          width: inherit;
        }
      }
    }
    .btn-container {
      justify-content: end;
      padding-right: 121px;
      .btn {
        @include fullHDBtn(441px, $accentBlue);
      }
    }
  }
}
