@media screen and (min-width: $mobile) {
  .section-2 {
    position: relative;
    .content-flex-container {
      display: flex;
      .description-container {
        width: 228px;
        padding-top: 67px;
        padding-bottom: 33px;
        .title {
          width: 230px;
          font-family: 'Philosopher';
          font-size: 24px;
          line-height: 1.21;
          color: $accentYellow;
          margin-bottom: 40px;
        }
        .description {
          width: 218px;
          font-family: 'Helvetica';
          font-size: 16px;
          line-height: 170%;
          color: $accentBlue;
        }
      }
      .stats-container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 130px;
        padding-bottom: 126px;
        &::after {
          content: '';
          position: absolute;
          inset: 0;
          z-index: -1;
          background-color: $accentYellowShape;
          mix-blend-mode: darken;
        }
        .stats-list {
          li {
            margin-bottom: 13px;
            p {
              padding-left: 3px;
              font-family: 'Helvetica';
              font-size: 16px;
              line-height: 170%;
              color: white;
            }
            p:first-child {
              font-family: 'Helvetica';
              font-size: 44px;
              color: transparent;
              line-height: 170%;
              -webkit-text-stroke: 1px white;
              margin-bottom: -14px;
              font-style: normal;
              font-weight: 400;
            }
            &:last-child {
              margin-bottom: 0;
              p:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    .you-can-trust-container {
      position: relative;
      width: 219px;
      padding: 35px 11px 62px 11px;
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: $accentYellowShape;
        mix-blend-mode: darken;
      }
      .description {
        width: 197px;
        font-family: 'Helvetica';
        font-size: 16px;
        line-height: 170%;
        color: white;
      }
      .title {
        position: absolute;
        left: 42px;
        bottom: 19px;
        font-family: 'Philosopher';
        font-size: 24px;
        line-height: 27px;
        white-space: nowrap;
        color: #ffffff;
      }
    }
    .img-container {
      position: absolute;
      width: 100vw;
      top: 440px;
      z-index: -2;
      .img-contain {
        width: 100vw;
        height: 339px;
        left: -15px;
        background-image: url('../img/deal.jpg');
        background-repeat: no-repeat;
        background-size: 724px 339px;
        background-size: cover;
        background-position: 30% bottom;
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .section-2 {
    .wrapper {
      position: relative;
    }
    .content-flex-container {
      .description-container {
        width: 420px;
        margin-right: 20px;
        padding-top: 70px;
        .title {
          width: 420px;
          font-size: 38px;
          span {
            display: block;
          }
        }
        .description {
          width: 420px;
        }
      }
      .stats-container {
        width: 228px;
        padding-top: 0;
        padding-bottom: 0px;
        .stats-list {
          width: 100%;
          li {
            margin-bottom: 0;
            p {
              padding-left: 0;
              font-size: 22px;
              text-align: center;
              &:first-child {
                font-size: 56px;
              }
            }
            &:first-child {
              padding-top: 50px;
            }
            &:last-child {
              padding-bottom: 50px;
            }
          }
        }
      }
    }
    .trust-flex-container {
      display: flex;
    }
    .you-can-trust-container {
      width: 320px;
      padding: 50px 11px 40px 31px;
      margin-bottom: 0;
      margin-right: 67px;
      .title {
        position: static;
        font-size: 38px;
        margin-bottom: 70px;
      }
    }
    .img-container {
      top: 410px;
      .img-contain {
        background-position: 30% top;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .section-2 {
    .img-container {
      top: 500px;
      .img-contain {
        width: 670px;
        height: 314px;
      }
    }
    .content-flex-container {
      margin-bottom: 70px;
      .description-container {
        width: 700px;
        margin-right: 50px;
        padding-top: 100px;
        .title {
          width: 650px;
          font-size: 48px;
          margin-bottom: 30px;
        }
        .description {
          width: 700px;
          font-size: 24px;
          padding-left: 100px;
        }
      }
      .stats-container {
        width: 350px;
        padding-bottom: 100px;
        .stats-list {
          li {
            padding-left: 20px;
            p {
              // display: inline;
              font-size: 24px;
              &:first-child {
                font-size: 100px;
                margin-bottom: 0;
                line-height: 110%;
              }
              &:last-child {
                margin-left: 5px;
              }
            }
            &:first-child {
              padding-top: 80px;
            }
            &:last-child {
              padding-bottom: 120px;
            }
          }
        }
      }
    }
    .trust-flex-container {
      padding-left: 40px;
    }
    .you-can-trust-container {
      width: 420px;
      padding: 60px 30px 40px 31px;
      margin-right: 210px;
      .description {
        width: 330px;
        font-size: 24px;
      }
      .title {
        font-size: 48px;
        margin-bottom: 100px;
      }
    }
    .img-container {
      top: 530px;
      left: 50%;
      .img-contain {
        width: 910px;
        height: 426px;
        transform: translateX(-50%);
      }
    }
  }
}

@media screen and (min-width: $fullHD) {
  .section-2 {
    .img-container {
      top: 660px;
      .img-contain {
        width: 1016px;
        height: 476px;
      }
    }
    .content-flex-container {
      margin-bottom: -10px;
      .description-container {
        width: 975px;
        margin-right: 61px;
        padding-top: 111px;
        padding-left: 151px;
        .title {
          width: 800px;
          font-size: 64px;
          line-height: 72px;
          margin-bottom: 80px;
        }
      }
      .stats-container {
        width: 560px;
        padding-bottom: 179px;
        .stats-list {
          li {
            padding-left: 100px;
            p {
              font-size: 36px;
              line-height: 170%;
              // margin-left: 11px;
              &:first-child {
                font-size: 144px;
                line-height: 1;
                -webkit-text-stroke: 3px white;
              }
              &:last-child {
                margin-left: 0;
              }
            }
            &:first-child {
              padding: 71px 0 0 100px;
              margin-bottom: 30px;
              p {
                text-align: left;
              }
              p:first-child {
                margin-right: 27px;
              }
            }
            &:nth-child(2) {
              padding: 0 0 0 100px;
              margin-bottom: 30px;
              p {
                text-align: left;
              }
              p:first-child {
                margin-right: 11px;
              }
            }
            &:last-child {
              padding: 0 0 0 100px;
              p {
                text-align: left;
              }
              p:first-child {
                margin-right: 33px;
              }
            }
          }
        }
      }
    }
    .trust-flex-container {
      padding-left: 151px;
    }
    .you-can-trust-container {
      width: 600px;
      padding: 120px 0px 60px 95px;
      margin-right: 230px;
      .description {
        width: 400px;
        padding-left: 104px;
        font-size: 24px;
        line-height: 170%;
      }
      .title {
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 40px;
      }
    }
    .img-container {
      .img-contain {
        width: 1016px;
        height: 476px;
      }
    }
  }
}
