@media screen and(min-width: $mobile) {
  .section-7 {
    position: relative;
    padding-bottom: 80px;
    .title {
      font-family: 'Philosopher';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.125;
      text-align: right;
      color: $accentYellow;
      margin-bottom: 28px;
      span {
        display: block;
      }
    }
    .swiper {
      display: block;
      margin-bottom: 20px;
      .logo-wrapper {
        height: 144px;
      }
    }
    #js-swiper {
      display: none;
    }
    .feedback-list {
      &__item {
        display: flex;
        margin-bottom: 52px;
        flex-wrap: wrap;
        &:nth-last-child(1) {
          margin-bottom: 0;
          .feedback-list__description-container {
            p {
              width: 277px;
            }
          }
        }
      }
      &__number-container {
        width: 80px;
        height: 72px;
        background-image: url('../svg/number-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
        margin-bottom: 3px;
        p {
          width: 67px;
          font-family: 'Helvetica';
          font-style: normal;
          font-weight: 400;
          font-size: 52px;
          line-height: 1;
          padding-left: 21px;
          color: transparent;
          -webkit-text-stroke: 1px #fff;
        }
      }
      &__title-container {
        width: 200px;
        display: inline;
        padding-top: 7px;
        margin-bottom: 22px;
        h3 {
          width: 107px;
          font-family: 'Helvetica-bold';
          font-size: 18px;
          line-height: 120%;
          color: $accentBlue;
        }
        &__role {
          font-family: 'Helvetica';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          color: $accentBlue;
        }
      }
      &__description-container {
        position: relative;
        padding-left: 60px;
        p {
          font-family: 'Helvetica';
          font-size: 16px;
          line-height: 150%;
          color: $accentBlue;
          left: 15px;
          span {
            display: none;
          }
          &:first-child {
            width: 264px;
          }
        }

        &__read-more {
          position: absolute;
          width: 64;
          bottom: 2px;
          right: 42px;
          font-family: 'Helvetica';
          font-size: 14px;
          line-height: 120%;
          text-decoration-line: underline;
          color: $accentYellow;
        }
      }
    }
  }
}

@media screen and(min-width: $tablet) {
  .section-7 {
    .title {
      font-size: 38px;
    }
    .feedback-list {
      &__item {
        .feedback-list__number-container {
          margin-right: 15px;
        }
        .feedback-list__description-container {
          width: 350px;
          padding-left: 0;
          p {
            width: 350px;
          }
        }
        .feedback-list__title-container {
          width: 250px;
          h3 {
            width: 250px;
          }
        }
        &:last-child {
          .feedback-list__description-container {
            p {
              width: 350px;
            }
          }
        }
      }
    }
  }
}

@media screen and(min-width: $desktop) {
  .section-7 {
    .title {
      font-size: 48px;
      text-align: left;
      margin-bottom: 0;
    }
    .feedback-list {
      display: flex;
      &__item {
        width: 345px;
        height: fit-content;
        margin-right: 35px;
        margin-bottom: 0;
        &:last-child {
          margin-right: 0;
          .feedback-list__description-container {
            width: 300px;
            p {
              width: 300px;
            }
          }
        }
        .feedback-list__number-container {
          width: 120px;
          height: 108px;
          background-size: cover;
          margin-bottom: 40px;
          p {
            display: block;
            font-size: 72px;
            margin-right: auto;
            margin-left: auto;
            padding-left: 10px;
            padding-top: 10px;
            // text-align: center;
          }
        }
        .feedback-list__title-container {
          width: 171px;
          padding-top: 10px;
          display: inline-block;
          h3 {
            width: fit-content;
            font-family: 'Philosopher';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
          }
          &__role {
            width: fit-content;
            font-size: 20px;
          }
        }
        .feedback-list__description-container {
          width: 300px;
          p {
            width: 300px;
            display: block;
            font-size: 20px;
            span {
              display: inline;
            }
            &::before {
              content: '\201C';
            }
            &::after {
              content: '\201D';
            }
          }
          &__read-more {
            display: none;
          }
        }
      }
      &__title-container {
        height: 71px;
        margin-bottom: 20px;
      }
    }
    .swiper {
      display: none;
    }
    #js-swiper {
      display: block;
      margin-bottom: 50px;
      .logo-wrapper {
        display: flex;
        flex-direction: column;
        &__first-string,
        &__second-string {
          display: flex;
          justify-content: end;
          .company-logo-view {
            margin-right: 50px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and(min-width: $fullHD) {
  .section-7 {
    padding-top: 180px;
    padding-bottom: 220px;
    .title {
      font-size: 64px;
    }
    #js-swiper {
      padding-right: 85px;
      margin-bottom: 156px;
      .logo-wrapper {
        &__first-string {
          margin-bottom: 39px;
          .company-logo-view:first-child {
            margin-right: 153px;
          }
          .company-logo-view:nth-child(2) {
            margin-right: 86px;
          }
        }
        &__second-string {
          .company-logo-view:first-child,
          .company-logo-view:nth-child(2) {
            margin-right: 166px;
          }
          .company-logo-view:nth-child(3) {
            margin-right: 54px;
          }
        }
      }
    }
    .feedback-list {
      &__item {
        margin-right: 63px;
        width: 554px;
        .feedback-list__number-container {
          width: 187px;
          height: 168px;
          background-position: center;
          margin-right: 20px;
          p {
            font-size: 96px;
            padding-left: 0;
            -webkit-text-stroke: 2.6px #fff;
          }
        }
        .feedback-list__description-container {
          padding-left: 139px;
          p {
            width: 415px;
            font-size: 24px;
            line-height: 170%;
          }
        }
        &:first-child {
          .feedback-list__title-container {
            width: auto;
            h3 {
              width: 285px;
              font-size: 36px;
              font-weight: 400;
            }
          }
        }
        &:nth-child(2) {
          width: 525px;
          .feedback-list__description-container {
            width: auto;
            p {
              width: 384px;
            }
          }
          .feedback-list__title-container {
            width: auto;
            h3 {
              width: 285px;
              font-size: 36px;
              font-weight: 400;
            }
          }
        }
        &:last-child {
          width: 514px;
          .feedback-list__description-container {
            width: auto;
            p {
              width: 374px;
            }
          }
          .feedback-list__title-container {
            width: auto;
            h3 {
              width: 285px;
              font-size: 36px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
