@media screen and (min-width: $mobile) {
  .section-8 {
    padding-bottom: 60px;
    .title {
      width: 100%;
      display: block;
      font-family: 'Philosopher';
      font-size: 24px;
      line-height: 27px;
      color: $accentYellow;
      margin-bottom: 20px;
      span {
        display: block;
      }
    }
    .main-content-container {
      position: relative;
      .img-shape-container {
        display: none;
      }
      .descr-container {
        width: 230px;
        margin-bottom: 40px;
        .description {
          font-family: 'Helvetica';
          display: block;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: $accentBlue;
        }
      }
      .form {
        padding: 40px 20px 50px 20px;
        background-color: $accentBlueShape;
        label {
          display: block;
          font-family: 'Helvetica';
          font-size: 16px;
          line-height: 1.375;
          color: white;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 40px;
          }
          input,
          textarea {
            width: 100%;
            display: block;
            height: 60px;
            border: none;
            padding-left: 13px;
            margin-top: 10px;
            &::placeholder {
              font-family: 'Helvetica-light';
              font-weight: 300;
              font-size: 16px;
              line-height: 1.375;
              color: rgba(57, 68, 145, 0.54);
            }
          }
          textarea {
            min-width: 100%;
            height: auto;
            padding-top: 13px;
          }
        }
        button {
          @include standartBtn($accentYellow);
          width: 290px;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .section-8 {
    padding-bottom: 90px;
    .title {
      font-size: 38px;
      text-align: center;
      margin-bottom: 30px;
      span {
        padding-top: 10px;
      }
    }
    .main-content-container {
      display: flex;
      .img-shape-container {
        display: block;
        position: relative;
        .shape-container {
          position: absolute;
          width: 250px;
          height: 720px;
          z-index: -1;
          background-color: $accentYellowShape;
          mix-blend-mode: darken;
        }
        .img-contain {
          position: absolute;
          width: 270px;
          height: 630px;
          top: 40px;
          left: 50px;
          z-index: -2;
          background-image: url('../img/get-in-touch.jpg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      .descr-container {
        width: 330px;
        padding-left: 70px;
        padding-top: 50px;
        margin-right: 50px;
        .description {
          width: 230px;
          color: white;
        }
      }
      .form {
        display: block;
        width: 355px;
        justify-content: space-between;
        button {
          width: 315px;
        }
      }
    }
  }
}

@media screen and(min-width: $desktop) {
  .section-8 {
    padding-bottom: 170px;
    .title {
      font-size: 48px;
      text-align: right;
      padding-right: 200px;
      margin-bottom: 0;
      span {
        padding-top: 20px;
      }
    }
    .main-content-container {
      .img-shape-container {
        .img-contain {
          width: 350px;
          height: 624px;
        }
        .shape-container {
          width: 300px;
          height: 700px;
        }
      }
      .descr-container {
        width: 330px;
        margin-right: 100px;
        .description {
          width: 280px;
          font-size: 20px;
        }
      }
      .form {
        margin-top: 70px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .label-container {
          display: flex;
          flex-wrap: wrap;
          label {
            font-size: 20px;
            margin-right: 30px;
            margin-bottom: 30px;
            &:nth-child(even) {
              margin-right: 0;
            }
            &:nth-child(n + 3) {
              margin-bottom: 50px;
            }
            &:nth-last-child(1) {
              min-width: 100%;
            }
          }
          input {
            width: 300px;
            padding-left: 20px;
          }
        }
        .btn {
          width: 300px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

@media screen and(min-width: $fullHD) {
  .section-8 {
    padding-bottom: 423px;
    .title {
      font-size: 64px;
      line-height: 1.125;
      padding-right: 473px;
      span {
        padding-top: 0;
      }
    }
    .main-content-container {
      .descr-container {
        width: 554px;
        padding-left: 139px;
        padding-top: 44px;
        padding-right: 0;
        margin-right: 153px;
        .description {
          width: 415px;
          font-size: 24px;
          line-height: 150%;
        }
      }
      .img-shape-container {
        .shape-container {
          width: 420px;
          height: 1111px;
          top: -86px;
        }
        .img-contain {
          width: 513px;
          height: 950px;
          top: -16px;
          left: 79px;
        }
      }
      .form {
        width: 900px;
        padding: 60px 35px 73px 35px;
        .label-container {
          label {
            font-size: 24px;
            line-height: 1.375;
          }
          input {
            width: 400px;
            padding-left: 30px;
            &::placeholder {
              line-height: 1.389;
              font-size: 18px;
            }
          }
        }
        button {
          @include fullHDBtn(312px, $accentYellow);
        }
      }
    }
  }
}
