// colors:
$accentBlue: #23329a;
$accentYellow: #fcca0c;
$accentYellowShape: rgba(252, 202, 12, 0.6);
$accentBlueShape: rgba(35, 50, 154, 0.6);

// viewports:
$mobile: 360px;
$tablet: 768px;
$desktop: 1200px;
$fullHD: 1920px;

// mixins:
@mixin standartBtn($bc) {
  width: 330px;
  height: 60px;
  background-color: $bc;
  color: rgb(255, 255, 255);
  font-family: 'Helvetica-bold';
  font-size: 27.3469px;
  line-height: 170%;
}
@mixin fullHDBtn($w, $bc) {
  width: $w;
  height: 81px;
  background-color: $bc;
  color: white;
  font-family: 'Helvetica-bold';
  font-size: 36px;
  line-height: 170%;
}
@mixin sliderButtons($w, $h, $leftUrl, $rightUrl) {
  display: flex;
  justify-content: center;
  .swiper-btn-prev {
    margin: 0 10px 0 0;
    .svg-container-1 {
      width: $w;
      height: $h;
      background-image: $leftUrl;
      background-repeat: no-repeat;
      background-position: center;
      &.swiper-button-disabled {
        opacity: 0.4;
        &:hover {
          cursor: unset;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .swiper-btn-next {
    .svg-container-2 {
      width: $w;
      height: $h;
      background-image: $rightUrl;
      background-repeat: no-repeat;
      background-position: center;
      &.swiper-button-disabled {
        opacity: 0.4;
        &:hover {
          cursor: unset;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
