@media screen and (min-width: $mobile) {
  .section-3 {
    position: relative;
    padding-bottom: 80px;
    .title {
      font-family: 'Philosopher';
      font-weight: 700;
      font-size: 24px;
      line-height: 27px;
      text-align: right;
      color: $accentRed;
      margin-bottom: 26px;
    }
    .steps-container {
      display: flex;
      flex-direction: row-reverse;
      .number-list {
        position: absolute;
        width: 110px;
        height: inherit;
        left: 0;
        padding-left: 70px;
        background-color: $accentRedShape;
        padding-bottom: 44px;
        li {
          p {
            color: transparent;
            -webkit-text-stroke: 1px white;
          }
          &:first-child {
            margin-bottom: 90px;
          }
          &:nth-child(2) {
            margin-bottom: 68px;
          }
          &:nth-child(3) {
            margin-bottom: 114px;
          }
        }
        p {
          font-family: 'Helvetica';
          font-style: normal;
          font-weight: 400;
          font-size: 48px;
          line-height: 140%;
        }
      }
      .steps-list {
        padding-left: 118px;
        padding-top: 34px;
        margin-bottom: 41px;
        h3 {
          font-family: 'Helvetica-bold';
          font-size: 18px;
          line-height: 120%;
          color: $accentBlue1;
          margin-bottom: 10px;
        }
        p {
          font-family: 'Helvetica';
          font-size: 16px;
          line-height: 150%;
          color: $accentBlue1;
        }
        li {
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .btn {
      @include standartBtn($accentRed);
    }
    .img-container {
      display: none;
    }
  }
}

@media screen and(min-width: $tablet) {
  .section-3 {
    .wrapper {
      position: relative;
      padding-bottom: 100px;
    }
    .title {
      font-size: 38px;
      text-align: left;
      margin-bottom: 50px;
      span {
        display: block;
        padding-top: 14px;
      }
    }
    .steps-container {
      display: flex;
      flex-direction: row;
      .steps-btn-container {
        width: 400px;
        padding-left: 50px;
        .steps-list {
          padding: 0;
          margin-bottom: 41px;
        }
      }
      .number-list {
        width: 230px;
        position: static;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 40px 0 0 20px;
        li {
          p {
            font-size: 60px;
          }
          &:first-child {
            margin-bottom: 40px;
          }
          &:nth-child(2) {
            margin-bottom: 40px;
          }
          &:nth-child(3) {
            margin-bottom: 40px;
          }
        }
      }
    }
    .img-container {
      position: absolute;
      display: block;
      z-index: -1;
      right: -15px;
      bottom: 0;
      .img-contain {
        width: 270px;
        height: 618px;
        background-image: url('../img/team.jpg');
        background-size: contain;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .section-3 {
    .title {
      font-size: 48px;
      padding-left: 100px;
      span {
        padding-top: 20px;
      }
    }
    .steps-container {
      .steps-btn-container {
        width: 500px;
        padding-left: 150px;
        margin-right: 20px;
        .steps-list {
          margin-bottom: 80px;
          h3 {
            font-size: 28px;
          }
          p {
            font-size: 20px;
          }
        }
      }
      .number-list {
        width: 350px;
        position: static;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 40px 0 0 80px;
        li {
          p {
            font-size: 100px;
          }
          &:first-child {
            margin-bottom: 30px;
          }
          &:nth-child(2) {
            margin-bottom: 30px;
          }
          &:nth-child(3) {
            margin-bottom: 30px;
          }
        }
      }
    }
    .img-container {
      position: absolute;
      display: block;
      z-index: -1;
      right: -15px;
      bottom: 0;
      .img-contain {
        width: 360px;
        height: 824px;
      }
    }
  }
}

@media screen and (min-width: $fullHD) {
  .section-3 {
    padding-bottom: 160px;
    .title {
      font-size: 64px;
      line-height: 72px;
      padding-left: 269px;
      margin-bottom: 80px;
      span {
        padding-top: 0;
      }
    }
    .steps-container {
      padding-left: 311px;
      .steps-btn-container {
        width: 468px;
        padding-left: 0;
        padding-top: 20px;
        margin-right: 48px;
        .steps-list {
          margin-bottom: 120px;
          h3 {
            font-size: 36px;
            line-height: 170%;
          }
          p {
            font-size: 24px;
            line-height: 150%;
          }
          li:nth-child(2) {
            width: 391px;
          }
        }
        .btn {
          @include fullHDBtn(333px, $accentRed);
        }
      }
      .number-list {
        width: 615px;
        // position: static;
        // display: flex;
        // flex-direction: column;
        // text-align: left;
        padding: 86px 0 235px 64px;
        li {
          p {
            font-size: 144px;
            line-height: 170%;
            -webkit-text-stroke: 2px white;
          }
          &:first-child {
            margin-bottom: -21px;
          }
          &:nth-child(2) {
            margin-bottom: -21px;
          }
          &:nth-child(3) {
            margin-bottom: -21px;
          }
        }
      }
    }
    .img-container {
      //   position: absolute;
      //   display: block;
      //   z-index: -1;
      right: 0;
      top: 435px;
      //   bottom: 0;
      .img-contain {
        width: 562px;
        height: 1287px;
      }
    }
  }
}
