@media screen and (min-width: $mobile) {
  .section-5 {
    padding: 65px 0 64px 0;
    .title {
      font-family: 'Philosopher';
      font-weight: 700;
      font-size: 24px;
      line-height: 27px;
      text-align: right;
      color: $accentRed;
      margin-bottom: 40px;
      span {
        display: block;
      }
    }
    .bg-wrapper {
      position: relative;
      .img-contain {
        position: absolute;
        width: 135px;
        height: 130px;
        left: -15px;
        top: -30px;
        z-index: -1;
        background-image: url('../img/section-5-bg.jpg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .content-wrapper {
      padding: 0 0 0 0px;
      margin-bottom: 40px;
      height: 384px;
      .feedback-container-wrapper {
        padding-left: 46px;
      }
      .feedback-container {
        width: 100%;
        padding: 15px 20px 20px 20px;
        background-color: $accentBlueShape;
        .client-title {
          font-family: 'Philosopher';
          font-weight: 400;
          font-size: 24px;
          line-height: 170%;
          color: white;
        }
        .client-role {
          font-family: 'Helvetica';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: white;
          margin-bottom: 20px;
        }
        .descr-container {
          padding-left: 40px;
          .description {
            font-family: 'Helvetica';
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #ffffff;
          }
        }
      }
    }
    .nav-buttons {
      @include sliderButtons(
        27px,
        27px,
        url('../../svg/mobile-arrow-left.svg'),
        url('../../svg/mobile-arrow-right.svg')
      );
    }
  }
}

@media screen and (min-width: $tablet) {
  .section-5 {
    .title {
      font-size: 38px;
      span {
        display: inline;
      }
    }
    .bg-wrapper {
      .img-contain {
        left: 0px;
      }
    }
    .content-wrapper {
      height: 250px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .section-5 {
    .title {
      font-size: 48px;
    }
    .bg-wrapper {
      .img-contain {
        width: 200px;
        height: 200px;
      }
    }
    .content-wrapper {
      padding-top: 30px;
      height: 350px;
      .feedback-container-wrapper {
        padding-left: 46px;
      }
      .feedback-container {
        width: 800px;
        .client-title {
          font-size: 38px;
        }
        .descr-container {
          display: flex;
          padding-left: 0;
          .client-role {
            display: block;
            width: 250px;
            font-size: 20px;
          }
          .description {
            width: 100%;
            font-size: 20px;
            padding-top: 30px;
          }
        }
      }
    }
    .nav-buttons {
      @include sliderButtons(
        60px,
        27px,
        url('../../svg/desktop-arrow-left.svg'),
        url('../../svg/desktop-arrow-right.svg')
      );
    }
  }
}

@media screen and (min-width: $fullHD) {
  .section-5 {
    padding-top: 129px;
    .wrapper {
      width: 1190px;
    }
    .bg-wrapper {
      padding-left: 263px;
    }
    .title {
      font-size: 64px;
      line-height: 72px;
      margin-bottom: 31px;
    }
    .bg-wrapper {
      .img-contain {
        width: 271px;
        height: 271px;
        top: 0;
      }
    }
    .content-wrapper {
      padding-top: 89px;
      margin-bottom: 95px;
      .feedback-container-wrapper {
        padding-left: 82px;
      }
      .feedback-container {
        width: 1027px;
        padding: 6px 130px 70px 33px;
        .client-title {
          font-size: 48px;
          line-height: 170%;
          margin-bottom: -18px;
        }
        .descr-container {
          .client-role {
            min-width: 212px;
            font-size: 24px;
            line-height: 170%;
            margin-right: 20px;
          }
          .description {
            width: 100%;
            font-size: 24px;
            line-height: 150%;
          }
        }
      }
    }
    .nav-buttons {
      @include sliderButtons(
        128px,
        30px,
        url('../../svg/standart-arrow-left.svg'),
        url('../../svg/standart-arrow-right.svg')
      );
      .swiper-btn-next,
      .swiper-btn-prev {
        .svg-container-1 {
          background-color: $accentRed;
          background-position: right center;
        }
        .svg-container-2 {
          background-color: $accentRed;
          background-position: left center;
        }
      }
      .swiper-btn-prev {
        margin-right: 19px;
      }
    }
  }
}
