@import './utils/vars';
@import './utils/base';
@import './utils/container';
@import './partials/hero-section';
@import './partials/section-2';
@import './partials/section-3';
@import './partials/section-4';
@import './partials/section-5';
@import './partials/section-6';
@import './partials/footer';
